.Banner{
    background-image: url('./bg-edit.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background: fill;
}
